@charset "utf-8";
/* CSS Document */

html
{
	margin:0;
	padding:0;
}
body
{
	margin:0;
	padding:0;
	background-color:#aaaaaa;
}

ul
{
    line-height:2em;
}

#container
{
	margin:auto;
	width:1000px;
	border:2.5px solid #000000;
}

#header
{
	height:108px;
	background-color:#18453B;
}

#teamname
{
    padding-top:30px;
    text-align:center;
    color:White;
    margin:0px;
    
}

#buttons
{
    height:50px;
    background-color:#777777;   
   	border-top:2.5px solid #000000;
   	border-bottom:2.5px solid #000000;
}


#content
{
	min-height:400px;
	background-color:#dddddd;
	padding:15px;
}

#footer
{
 	background-color:#dddddd;
	padding:15px;   
}

a.home
{
    height:inherit;
    line-height:50px;
    text-align:center;
	font-size:25px;
	float:left;
	padding-left:15px;
	padding-right:15px;
	color:white;
	text-decoration:none;
	font-family:Century Gothic;
	margin:0;
}

.space
{
    padding-left:auto;
    padding-right:auto;
}

a.home:hover { font-weight:bold; background-color:#444444; }
a.menubar:hover { font-weight:bold; background-color:#444444; }

div.contentText
{
    margin:10px;
    padding:10px;
}

a.menubar
{
    height:inherit;
    line-height:50px;
	font-size:25px;
	float:right;
	padding-left:15px;
	padding-right:15px;
	color:white;
	text-decoration:none;
	font-family:Century Gothic;
}

h1
{
 font-family:Century Gothic;   
}
h2	
{ 
    color:#000; 
    padding:0px;
    margin:0px;
}
